<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link rel = "stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}"/>
</head>
<body>
    <p>
        <h1>Student Record</h1>
        {% if students %}
            <table border="1px">
                <thead>
                    <th>Student Name</th>
                    <th>School</th>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.name }}</td>
                            <td>{{ student.school }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>No records found!</h2>
        {% endif %}
    </p>
</body>
</html>